<div id="loadimage" class="img-fluid pt-5 mb-5">
    <h2 class="text-center font-weight-bold pt-5">Globetrotter</h2>
    <h4 class="text-center font-weight-normal">“A SHIP IN HARBOR IS SAFE – BUT THAT IS NOT WHAT SHIPS ARE BUILT FOR.” – JOHN A. SHEDD </h4>
    <br>
    <p class="text-center font-italic">Globetrotter was created for the travellers around the world. We want to be your personal assitant 
        who informs and inspires you with trusted content from experts who visit every destination.
    </p>
    <br>
    <p class="text-justify pr-2 pl-2">
        One of the significant benefits of traveling is finding and keeping inner balance. Too often, people get wrapped up in their lives, their daily routine of working, sleeping, eating, and living. They become self-absorbed to the point when their fatigue affects their health, their happiness, and their future.
It’s a great, big world out there with billions and billions of people, who each day live their life and have their own unique experiences.
Traveling is a humbling experience. It is merely a superior feeling: to go to another country, and to see people live differently, speak differently, look differently. This is how one comes to understand how big and crazy our world is.
</p>
<p class="text-justify pr-2 pl-2 pb-5">Another benefit to traveling is coming to see one’s native country in a different light, in a different way. It is possible through making a comparison of your home and a foreign location. Sure, this is impossible without traveling. Going to unknown places create new perspectives and inspiration.
Away from home, one comes to understand what “home” actually is and what it means.
Perhaps their native country is not as free as they had been told or initially thought it to be, for example. One does not understand what it means to be a citizen of their native country until they have seen it from a distance, from another, completely different country. When traveling elsewhere.
    </p>
   <div class="pb-5"></div>
    <div class="pb-5"></div>
    <div class="pb-5"></div>
    <div class="pb-4"></div>
</div>
