<div class="container pt-5 pb-5">

    <h2 class="text-center font-weight-bold">Reach Out to us!!!</h2>
    <div class="row pt-3">
      <div class="col-sm pt-3">
            <h5 class="title-left">
              Head Office
            </h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> 5, Central Avenue, Dublin 2, Co. Dublin, Ireland.</li>
            <li class="list-group-item"><fa-icon [icon]="faMobileAlt"></fa-icon> (+353) 887654321</li>
            <li class="list-group-item"><fa-icon [icon]="faEnvelope"></fa-icon> headoffice@globetrotter.com</li>
          </ul>
      </div>
      <div class="col-sm pt-3">
            <h5 class="title-left">
              Regional Office
            </h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><fa-icon [icon]="faMapMarkerAlt"></fa-icon> Globetrotter pvt.ltd, Canal Docks, Athlone, Co. Westmeath, Ireland.</li>
                <li class="list-group-item"><fa-icon [icon]="faMobileAlt"></fa-icon> (+353) 812345678</li>
                <li class="list-group-item"><fa-icon [icon]="faEnvelope"></fa-icon> regionaloffice@globetrotter.com</li>
            </ul>
      </div>
      <div class="col-sm pt-3">
            <h5 class="title-left">
              Join Us on Social Media
            </h5>
            <ul class="list-group list-group-flush pt-2">
                <li class="list-group-item"><a href="https://www.linkedin.com/"><fa-icon [icon]="faLinkedin" size="2x"></fa-icon> GlobeTrotter.pvt.ltd</a></li>
                <li class="list-group-item"><a href="https://twitter.com/?lang=en"><fa-icon [icon]="faTwitterSquare" size="2x"></fa-icon> GlobeTrotter</a></li>
                <li class="list-group-item"><a href="https://www.facebook.com/"><fa-icon [icon]="faFacebook" size="2x"></fa-icon> GT Traveller's Assistant</a></li>
            </ul>
      </div>
    </div>
  </div>